/OPS_SAT_TRANSPORT/CAN_FRAGMENTATION_PROTOCOL/target/
/OPS_SAT_TRANSPORT/DLR_MAL_SPP_Binding_v1.0.1-FC/DLR_MO_MALSPP_ENCODING/target/
/OPS_SAT_TRANSPORT/DLR_MAL_SPP_Binding_v1.0.1-FC/DLR_MO_MALSPP_ENCODING_OPSSAT/target/
/OPS_SAT_TRANSPORT/DLR_MAL_SPP_Binding_v1.0.1-FC/DLR_MO_MALSPP_TRANSPORT/target/
/OPS_SAT_TRANSPORT/SPP_TRANSPORT_CFP_TCP/target/
/OPS_SAT_TRANSPORT/MOIMS_TESTBED_MALSPP_TRANSPORT_ESA/target/
/OPS_SAT_TRANSPORT/can-test/target/
/NANOMIND_CONNECTOR/GMV_MO_XML/target/
/NANOMIND_CONNECTOR/GMV_CONSUMER_SERVICES/target/
/PLATFORM_OPS-SAT_IMPL/target/
/NANOSAT_MO_SUPERVISOR_OPS-SAT/target/
/GROUND_MO_PROXY_OPS-SAT/target/
/LIB_NANOSAT_MO_FRAMEWORK_OPS_SAT/target/
/linux-images-manager/target/


**/**/target/
**/**/libs/
**/**/.svn/
**/comArchive.db
**/comArchive.db-journal
**/target/
**/libs/
**/.svn/
**/providerURIs.properties
**/providerURIsSecondary.properties
*.iml
**/.idea
