#
# Copyright or © or Copr. CNES
#
# This software is a computer program whose purpose is to provide a 
# framework for the CCSDS Mission Operations services.
#
# This software is governed by the CeCILL-C license under French law and
# abiding by the rules of distribution of free software.  You can  use, 
# modify and/ or redistribute the software under the terms of the CeCILL-C
# license as circulated by CEA, CNRS and INRIA at the following URL
# "http://www.cecill.info". 
#
# As a counterpart to the access to the source code and  rights to copy,
# modify and redistribute granted by the license, users are provided only
# with a limited warranty  and the software's author,  the holder of the
# economic rights,  and the successive licensors  have only  limited
# liability. 
#
# In this respect, the user's attention is drawn to the risks associated
# with loading,  using,  modifying and/or developing or reproducing the
# software by the user in light of its specific status of free software,
# that may mean  that it is complicated to manipulate,  and  that  also
# therefore means  that it is reserved for developers  and  experienced
# professionals having in-depth computer knowledge. Users are therefore
# encouraged to load and test the software's suitability as regards their
# requirements in conditions enabling the security of their systems and/or 
# data to be ensured and,  more generally, to use and operate it in the 
# same conditions as regards security. 
#
# The fact that you are presently reading this means that you have had
# knowledge of the CeCILL-C license and that you accept its terms.
#

log.config.classname org.objectweb.util.monolog.wrapper.log4j.MonologLoggerFactory

# ==============================
# tty : console handler
handler.tty.type Console
handler.tty.output System.err
handler.tty.pattern  %l %d, %m%n

# ==============================
# logf : rolling file handler
handler.logf.type File
handler.logf.output server.log
handler.logf.pattern  %l %d, %m%n

# ==============================
# logger definitions
logger.root.handler.0 logf

logger.root.level WARN

# ==============================
# ScalAgent middleware
# logger.fr.dyade.aaa.level DEBUG

# logger.fr.dyade.aaa.agent.Agent 		    WARN
# logger.fr.dyade.aaa.agent.AgentServer 	DEBUG
# logger.fr.dyade.aaa.agent.Engine 		    WARN
# logger.fr.dyade.aaa.agent.Network 		WARN
# logger.fr.dyade.aaa.agent.ConfigController.level DEBUG
# logger.fr.dyade.aaa.agent.Transaction	INFO

#logger.fr.cnes.level WARN