[Unit]
Description=Start the NMF supervisor
After=network.target spp_bridge.service

[Service]
Type=simple
WorkingDirectory=/home/nmf/supervisor
ExecStart=/home/nmf/supervisor/supervisor.sh
Restart=on-failure
SuccessExitStatus=0 143
RestartSec=30s
OOMScoreAdjust=-100

[Install]
WantedBy=multi-user.target
