[Unit]
Description=Start the NMF supervisor
After=network.target spp_bridge.service

[Service]
Type=simple
WorkingDirectory=/home/nmf/supervisor
ExecStart=/home/nmf/supervisor/supervisor.sh

[Install]
WantedBy=multi-user.target
